# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env

# PostgreSQL dumps (optional)
*.sql

# Environment
.env

# OS files
.DS_Store
Thumbs.db

# Virtual Environment
venv/
env/
.venv/

# VSCode (if you use it)
.vscode/

# Logs
*.log

# pics
*.jpg
*.jpeg
*.png
